// Ядро
@import "general/var";
@import "general/reset";
@import "general/form-reset";
@import "general/placeholder";
@import "general/mixin";
@import "general/print";

// Глобальные стили
@import "project/global/typo";
@import "project/global/form";
@import "project/global/template";
@import "project/global/icon";
@import "project/global/link";

// Всякое
@import "project/global/something";

// Блочные стили
@import "project/block/ui-input";
@import "project/block/ui-textarea";