
.p-link {
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;

  // обнуляем, чтобы пробелы внутри не образовывались из-за форматирования
  letter-spacing: -4px;
  word-spacing: -4px;

  u {
    text-decoration: underline;
    color: inherit;
    letter-spacing: normal;
    word-spacing: normal;
  }
}



// основная колонка
.p-container {
  margin-left: auto;
  margin-right: auto;
  width: fixedWidth;
}

.p-ib {
  display: -moz-inline-stack; // ff2
  display: inline-block;
  zoom: 1; // Internet Explorer 6
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
}

// очистка потока
.p-clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}

.p-invisible {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}
.p-visible {
  position: static;
  top: 0;
  left: 0;
  visibility: visible;
}

.p-text-hide {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

.p-before {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.p-after {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}