// шрифты
f-sansserif = Arial, Tahoma, Verdana, sans-serif;
f-serif = Georgia, Times, Times New Roman, serif;

// цвета
textColor = #444;
placeholderColor = #ccc;

// основные размеры текста
basefont = 13px;
smallfont = 11px;
bigfont = 16px;

x-baseline = floor(basefont * 1.53); // золотое сечение, ептить

// задаем цвет ссылок
linkColor = #2388d7;
linkColorHover = darken(linkColor, 15);
linkColorActive = black;
linkColorVisited = linkColor;

// фоновые цвета
bgColor = #fff;
selectionColor = #ccc;

// ширина
fixedWidth = 980px;

// настройки форм
form-bgc = white;
form-bdc = gray;
form-c = textColor;
form-focus = #ee5f5b;