.spb-block {
  padding: 50px 20px;
}
.spb-list {
  list-style: decimal;
}

.spb-tomain {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
}

.spb-tomain:hover {
  background: #dfdfdf;
  cursor: pointer;
}